*{
    box-sizing: border-box;

}
.flex-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.flex-container-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.flex-container-col{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
  box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  background: #fff;
}
.toolbar{
  padding:5px 20px 20px 20px;
  background-color:#fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.container{
  padding:140px 20px 5px 20px;
  background: aliceblue;
}
.color-primary{
  color:#1976d2;
}

body{
  margin: auto;
}


