*{
    box-sizing: border-box;

}
.flex-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.flex-container-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.flex-container-col{
    display: flex;
    flex-direction: column;
    align-items: center;

}
body{
  margin: auto;
}

span{
  color: blueviolet;
}
 
  